torch-ema
ninja
trimesh
opencv-python
tensorboardX
numpy 
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
packaging
scipy
scikit-learn

face_alignment
python_speech_features
numba
resampy
#pyaudio
soundfile==0.12.1
einops
configargparse

lpips==0.1.3
imageio-ffmpeg

transformers==4.46.2
huggingface-hub>=0.23.2,<1.0
edge_tts
flask
flask_sockets
opencv-python-headless
aiortc
aiohttp_cors

ffmpeg-python
omegaconf
diffusers
accelerate

librosa
openai
websocket-client
websockets==12.0
#gradio_client
#azure-cognitiveservices-speech

typeguard==2.13.3
onnxruntime-gpu

# EchoMimicV3 Flash backend
safetensors
pyloudnorm
decord
timm
tomesd
torchdiffeq
torchsde
ftfy
func_timeout
moviepy==2.2.1
